<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-splashscreenvideo" 
		version="1.0.0">
	<name>SplashScreenVideo</name>
	<description>Cordova SplashScreenVideo Plugin</description>
	<license>Taki Eddine Rahal</license>
	<keywords>cordova, splashscreen, splashscreenvideo</keywords>
	<repo>https://github.com/TakiRahal/cordova-plugin-splashscreenvideo.git</repo>
    <issue>https://github.com/TakiRahal/cordova-plugin-splashscreenvideo/issues</issue>
	
	<engines>
        <engine name="cordova-android" version=">=3.6.0" />
    </engines>
	
	<js-module src="www/splashscreenvideo.js" name="splashscreenvideo">
		<clobbers target="navigator.splashscreenvideo" />
	</js-module>
	
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SplashScreenVideo">
                <param name="android-package" value="org.takirahal.cordova.splashscreenvideo.SplashScreenVideo"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/SplashScreenVideo.java" target-dir="src/org/takirahal/cordova/splashscreenvideo" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="SplashScreen">
			    <param name="ios-package" value="CDVSplashScreen"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

        <header-file src="src/ios/CDVSplashScreen.h" />
        <source-file src="src/ios/CDVSplashScreen.m" />
        <header-file src="src/ios/CDVViewController+SplashScreen.h" />
        <source-file src="src/ios/CDVViewController+SplashScreen.m" />

	    <framework src="CoreGraphics.framework" />
    </platform>
	
</plugin>